.mainconrainer {
  background-color: rgba(115, 112, 112, 0.458);
  padding: 10px 40px;
  width: 200px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30px;
  text-wrap: wrap;
}
.mainconrainer button {
  background-color: black;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
}
